.repo-detail-action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.repo-detail-action-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    border-radius: 4px;
    width: 165px;
    height: 32px;
    background: #ffffff;
    border: 1px solid #d9d9d9;
}

.repo-detail-action-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 0;
    border-right: 1px solid rgba(27, 31, 35, 0.15);
    width: 128px;
    cursor: pointer;
}
.repo-detail-action-item div img {
    width: 16px;
    margin-right: 5px;
}

.repo-detail-action-item span {
    padding: 4px 15px;
    background: #f7f7f7;
    border: none;
    border-radius: 6px;
}

