
.pagination-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.pagination-box .pagination-count{
    border-color: rgba(27, 31, 36, 0.15);
    padding: 5px 16px;
    line-height: 20px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    border: 1px solid rgba(53, 87, 128, 0.15);
    color: #00CC99;
    background-color: #fff;
}

.pagination-box .prev-page{
    border-right-width: 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-box .next-page{
    border-right-width: 1px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 0;
}

.pagination-box .pagination-count:hover{
    color: #fff;
    background-color: #00CC99;
}

.pagination-box .pagination-count:disabled {
    color: rgba(0,204,153,0.6);
}

.pagination-box .pagination-count:disabled:hover{
    background-color: transparent;
}