.explore-list-item {
	display: flex;
	flex-direction: row;
	padding: 10px 0;
	border-bottom: 1px solid #f0f0f0;
}

.explore-list-item-left {
	width: 32px;
}

.explore-list-item-left img {
	width: 100%;
	border-radius: 16px;
}

.explore-list-item-left .repository-logo {
	border-radius: 0;
	width: 24px;
}

.explore-list-item-right {
	flex: 1;
	padding-left: 16px;
}

.explore-list-item-name {
	height: 22px;
	font-size: 14px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.65);
	line-height: 1em;
	margin-bottom: 4px;
	cursor: pointer;
}

.explore-list-item-time {
	height: 22px;
	font-size: 14px;
	font-family: PingFangSC-Medium, PingFang SC;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.25);
	line-height: 22px;
}

.main-right {
    box-sizing: border-box;
    padding-left: 20px;
    flex: 1;
}

.search-input {
	width: 857px;
	/* height: 40px; */
	background: #ffffff;
	border-radius: 4px;
	/* border: 1px solid #D9D9D9;     */
	display: flex;
	flex-direction: row;
}

.search-input input {
	flex: 1;
	padding: 0 16px;
	height: 40px;
	border: 1px solid #d9d9d9;
	border-radius: 4px 0px 0px 4px;
}

.search-input span {
	width: 70px;
	height: 40px;
	background: #00cc99;
	border-radius: 0px 4px 4px 0px;
	line-height: 40px;
	text-align: center;
	font-size: 16px;
	font-family: PingFangSC-Regular, PingFang SC;
	font-weight: 400;
	color: #ffffff;
	cursor: pointer;
}