.pull-main {
    width: 1140px;
    margin: 30px auto 0 auto;
    padding-bottom: 30px;
}

.pull-head {
    display: flex;
    flex-direction: row;
}

.pull-content {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}

.pull-content-item {
    cursor: pointer;
}

.pull-content-item:not(:nth-last-child(1)) {
    margin-right: 60px;
}

.pull-content-item span:nth-child(1) {
    margin-right: 10px;
}

.pull-list-head {
    height: 54px;
    background: #f1f8ff;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #e3efff;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.pull-list-head-left {
    display: flex;
    flex-direction: row;
}

.pull-status {
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    line-height: 22px;
    cursor: pointer;
}

.pull-status:not(:nth-last-child(1)) {
    margin-right: 46px;
}

.pull-status span:nth-child(1) {
    margin-right: 10px;
}

.pull-list-head-select {
    width: 104px;
    line-height: 32px;
    background: #ffffff;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.pull-list-head-select span:nth-child(1) {
    margin-right: 20px;
}

.pull-list-head-select .pull-menu {
    position: absolute;
    z-index: 2;
    top: 42px;
    right: 0;
    width: 207px;
    background: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
}

.pull-list-head-select .pull-menu::after {
    content: '';
    position: absolute;
    z-index: 5;
    right: 20px;
    top: -5px;
    height: 10px;
    width: 10px;
    transform: translateX(-50%) rotate(45deg);
    border-style: solid;
    border-width: 5px;
    border-color: #fff transparent transparent #fff;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.06);
}

.pull-list-head-select .pull-menu-item {
    height: 46px;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.65);
    line-height: 46px;
}

.pull-list-head-select .pull-menu-item:hover {
    background-color: #00cc99;
    color: #ffffff;
}

.pull-list-main {
    background: #ffffff;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #d9d9d9;
    border-top: 0;
}

.pull-list-item {
    padding: 16px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95px;
    cursor: pointer;
}

.pull-list-item:not(:nth-last-child(1)) {
    border-bottom: 1px solid #e8e8e8;
}

.pull-list-item-head,
.pull-list-item-bottom {
    height: 22px;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
}
